<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ChromeDriverPath" value="D:\Documents\Visual Studio 2015\Projects"/>
    <add key="CinemaCityURL" value="http://www.cinemacity.co.il/home"/>
    <add key="TakenSeat" value="2"/>
    <add key="AvailableSeat" value="1"/>
    <add key="ChosenSeat" value="3"/>
    <add key="CinemaRashlatz" value="11402"/>
    <add key="כפר סבא" value="11406"/>
    <add key="CinemaGlilot" value="11401"/>
    <add key="CinemaRaanan" value="11404"/>
    <add key="CinemaPark" value="11403"/>
    <add key="CinemaJerusalem" value="11405"/>
    <add key="סינמה סיטי כפר-סבא" value="D:\Documents\‏‏CinemaAjax.txt"/>
  </appSettings>
</configuration>